@model IEnumerable<BargainBarterV2.Models.BarterAdd>

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/css/Home.css" rel="stylesheet"/>

<section class="fill-section">
    @Html.Partial("CatagorySiderbar")

        <div class="col-md-9" id="myscrollwheel">
            <div class="row text-center">
                @foreach (var item in Model)
            {
                    <div class="col-md-6" id="thump">
                        <div class="thumbnail">
                            <img src='@Url.Action("ViewPhoto","BarterAds", new { id = item.BarterAddId })' height="500" alt="">
                            <div class="caption">
                                <h3>@Html.DisplayFor(modelItem => item.Titel)</h3>
                                <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            </div>
                            <div class="ratings">
                                <p class="pull-left">15 reviews</p>
                                <p>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                    <span class="glyphicon glyphicon-star"></span>
                                </p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>  
</section>
