@{
    ViewBag.Title = "Home Page";
}

@* ----Annonceoversigt---- *@
<div class="col-md-9">
    <h3>Annoncer</h3><br/>

</div>

@* ----Radius område--- *@

<div class="col-md-3 bg-blue">
    <div class="col-md-12"><h4 class="font-bold">Indsnævring af annoncer</h4></div>
    <div class="col-md-4"><p class="font-bold">Radius</p></div>
    <div class="col-md-8"><p>SLIDER HER</p></div>
    <div class="col-md-12">
        <table class="table table-bordered">
            <thead>
                <p class="font-bold">Kategorier</p>
            </thead>
            <tbody>
            <tr><td>Apps</td></tr>
            <tr><td>Games</td></tr>
            <tr><td>Movies</td></tr>
            <tr><td>Books</td></tr>
            <tr><td>Newspapers</td></tr>
            </tbody>
        </table>
    </div>
</div>