@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    @* ----Annonceoversigt---- *@
    <div class="col-md-9">
        <h3>Annoncer</h3><br />

    </div>

    @* ----Radiusinsævringsområde--- *@

    <div class="col-md-3 bg-blue img-rounded container-fluid">
        <div class="col-md-12"><h4 class="font-bold border-bottom margin-header">Indsnævring af annoncer</h4>
        </div>
        <div class="col-md-4">
            <p class="font-bold">Radius</p>
        </div>
        <div class="col-md-8">
            <p>SLIDER HER</p>
        </div>
        <div class="col-md-12">
            <p class="font-bold">Kategorier</p>
            <table class="table table-hover table-bordered">
                <thead>

                </thead>
                <tbody>
                <tr>
                    <td>Apps</td>
                </tr>
                <tr>
                    <td>Games</td>
                </tr>
                <tr>
                    <td>Movies</td>
                </tr>
                <tr>
                    <td>Books</td>
                </tr>
                <tr>
                    <td>Newspapers</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>