@model BargainBarterV2.Models.BarterAdd

@{
    ViewBag.Title = "Upload Picture";
}


<h2>Upload Picture</h2>

@using (Html.BeginForm("UploadPicture", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <input type="file" name="BarterPicture" id="BarterPicture" style="width: 100%;" />
    <input type="submit" value="Upload" class="submit" />
}

  

