
.navbar-fixed-top {
    min-height: 60px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

table {
    height: 100px;

}

table tr:nth-of-type(odd){
    background-color: #ffa07a;
}

table tr:nth-of-type(even){
    background-color: #7cfc00;
}

body {
    font-size: 10pt;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana,Arial, sans-serif;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 80px;
    font-size: 30px;
}

@media (max-width: 767px) {
    .navbar-fixed-top {
        min-height: 0;
    }

    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }



}