
.navbar-fixed-top {
    min-height: 60px;
}

.navbar-brand img {
    height: 50px;
    width: auto;
}

table {
    height: 100px;

}

table tr:nth-of-type(odd){
    background-color: #ffa07a;
}

table tr:nth-of-type(even){
    background-color: #7cfc00;
}

body {
    font-size: 10pt;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana,Arial, sans-serif;
}

.navbar-nav > li > a {
    padding-top: 0;
    padding-bottom: 0;
    line-height: 80px;
    font-size: 30px;
}

body {
    background-color: #ffffcc;
    color: #330000;
    font-family: Verdana,Arial, sans-serif;
    margin-left: 10%;
    margin-right: 10%;
}

table tr:nth-of-type(even) 
{ 
    background: yellow;
}

table tr:nth-of-type(odd) 
{
     background: orange;
}

footer {
    background-color: #ccaa66;
    color: #000000;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}



@media (max-width: 767px) {
    .navbar-fixed-top {
        min-height: 0;
    }

    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 14px;
    }

    /*!
 * Start Bootstrap - Shop Homepage (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/*body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

/*.slide-image {
    width: 100%;
}

.carousel-holder {
    margin-bottom: 30px;
}

.carousel-control,
.item {
    border-radius: 4px;
}

.caption {
    height: 130px;
    overflow: hidden;
}

.caption h4 {
    white-space: nowrap;
}

.thumbnail img {
    width: 100%;
}

.ratings {
    padding-right: 10px;
    padding-left: 10px;
    color: #d17581;
}

.thumbnail {
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
    color: #333;
}

footer {
    margin: 50px 0;
}*/

/*}*/