#BarterSearch {
    background-color: #00008b;
<<<<<<< HEAD
}                                                                                                                                                                                                                                                                                                                                                                                                                                                   
=======
}

.list-group-item a:link{

    color: Brown;
}

/*.list-group-item{

    color: Brown;
}*/

.list-group a:link{

    color: Brown;
}
>>>>>>> 3c833d6d4c63f4280d319ec8193b1dc6cb29b643
