@model IEnumerable<BargainBarterV2.Models.BarterAdd>


<div class="container-fluid">
    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">Kategorier</div>

            <div class="panel-body">
                <div class="list-group">
                    
                   @{var catagories = new BargainBarterV2.Helperfunctions.CategoryList();
                    foreach(var item in catagories){
                    
                    @Html.ActionLink(@item.Text,"CategorySearch","Search",new {searchstring = item.Text},new {@class = "list-group-item"})
                    }                  
                }                                     
                </div>
            </div>

        </div>
    </div>
</div>
