@model IEnumerable<BargainBarterV2.Models.BarterAdd>


<div class="container-fluid">
    <div class="col-md-3">
        <div class="panel panel-default">

            <div class="panel-heading">Catagories</div>

            <div class="panel-body">
                <ul class="list-group">
                    
                   @{var catagories = new BargainBarterV2.Helperfunctions.CategoryList();
                    foreach(var item in catagories){
                    
                    <li class="list-group-item"> @item.Text <span class="badge">3</span></li>
                    }                  
                }                                     
                </ul>
            </div>

        </div>
    </div>
</div>
