@{
    ViewBag.Title = "About";
}

<div class="row col-md-12">
    <div class="container">
        <h2>Konceptet</h2>
        <img src="~/Content/img/Koncept.jpg" alt="Koncept" Heigt="600" />


    </div>
</div>
