@{
    ViewBag.Title = "Kontakt os";
}

<div align="center">
    <h2>@ViewBag.Title.</h2>
    <h4>@ViewBag.Message</h4>

    <address>
        Bargain Barter IVS<br />
        Steen Billes Gade 6, 8200 Århus N<br />
        <abbr title="Phone">Tlf:</abbr>
        +45 7226 8400
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:officialbargainbarter@gmail.com">OfficialBargainBarter@gmail.com</a><br />
    </address>

</div>
